*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: red;
    text-align: center;
    align-items: center;

}
button{
    width:180px;
    margin: 5px;
}
input{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}