* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url(https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDV8fGdyYWRpZW50fGVufDB8fHx8MTY3NDQzNTUzMg&ixlib=rb-4.0.3&q=80&w=2000);
}

header > .links {
  display: flex;
  color: white;
}

.links > a {
  font-size: 25px;
  margin: 15px;
  background-color: white;
  padding: 15px 22px;
  color: black;
  border-radius: 50px;
  text-decoration: none;
}

.main {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(23, 16, 71);
  background: linear-gradient(0deg, rgba(23, 16, 71, 1) 0%, rgba(86, 68, 197, 1) 100%);
  color: white;
  margin: 2% 35%;
  padding: 1rem;
  height: auto;
  border-radius: 50px;
}
.main > h1 {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.39);
  padding: 20px;
  border-radius: 20px 0px;
}

div > .inserir {
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

.inserir > p {
  font-size: 25px;
  text-decoration: underline;
  margin-right: 10px;
  margin-bottom: 30px;
}

.inserir > input {
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  border: none;
}

.inserir > button {
  padding: 8px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}

#resultado,
#resultadoParImpar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.452);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  height: auto;
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 20px;
}
