body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
  background: linear-gradient(to right, #5644C5, #171047);
  display: block;
}
.praticaAtual {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--header-text-color);
}


#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #8A88FF, #4947B0);
  padding: 10px;
  align-items: center;
  margin: 50px;
  width: 500px;
  height: 500px;
  text-align: center; 
  box-shadow: 0 0 5px 1px rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 35%;
  
  border-radius: 30px;
}
h2 {
  
  color: #ffffff; 
  display: flex;
  flex-direction: start;
  padding: 25px;


}


input, button {
 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  background: 8A88FF;
  border: none;
  border-radius: 3px; 
}

button {
  padding: auto;
  padding-left: 10px;
  margin: 10px;
  background-color: #8A88FF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #130475;
}
#resultado{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}
