* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(179, 220, 253);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #000;
  height: fit-content;
  border-bottom: 2px #3fb7fc solid;
}

.formArea {
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  margin-top: 8rem;
  gap: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #fff;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Para Firefox */
  appearance: none;
  border-radius: 0.5rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 0.5rem;
}

label {
  padding: 4px;
  margin-bottom: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: rgba(57, 183, 255, 0.8);
}

input[type="number"]:focus {
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0.8);
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgba(9, 62, 131, 0.8);
  color: #fff;
  transition: ease-in-out 0.2s;
}

#resultado {
  background-color: rgba(57, 183, 255, 0.8);
  height: 5rem;
  width: 12rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
