body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .fundo1 {
    background-color: #f0f0f0;
    background: linear-gradient(to right, #5644C5, #171047);
  }
  .praticaAtual {
    font-size: 2rem;
    padding-right: 1rem;
    color: var(--header-text-color);
  }
  
  #app {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #8A88FF, #4947B0);
    padding: 10px;
    align-items: center;
    margin: 50px;
    width: 500px;
    height: 500px;
    text-align: center; 
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 35%;
    
    border-radius: 30px;
  }
  
  h1 {
    color: #3b3b3b; 
    animation: animarH1 infinite 5s;
   padding: 20px;
   margin: 20px;
  
  }
  h2 {
    display: flex;
    justify-content: start;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 20px;
  }
  
  @keyframes animarH1 {
    0% {
      transform: scale(1);
      
    }
    50% {
      transform: scale(1.2);
    
    }
    100% {
      transform: scale(1);
      
    }
  }
  .codigo-label{
    padding: 2px;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 4px;
    display: block; 
    color: #fff; 
   
  }
  
  input {
    padding: 10px;
    font-size: 1em;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto; 
    margin-bottom: 15px;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color:  #8A88FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 2px #220141;
  }
  
  button:hover {
    background-color: #130475;
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 35px;
    color: #ff0040;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  