* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  gap: 1rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.800);

  border-radius: 1rem;
}

.cont h2{
    border: 1px black solid;
    border-radius: .5rem;
    padding: .5rem;
}

.btn{
    padding: .3rem;
}

#result{
  position: absolute;
  top: 70%;
  background-color: rgba(255, 255, 255, 0.800);
}