.psicologo {
  background-color: #FFC0CB;
}

.paciente {
  background-color: #006400;
}
.rounded-circle{
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 5px 0px rgb(44, 44, 44);
 }
 body {
  text-align: center;
   
  background-image: url('../SRC/image\ 7.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
h1{
  text-decoration: underline;
  color: #FFFF;
  padding: 10px;
  font-style: bold ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 , h3 , h4{
  color: #FFFF;
  padding: 10px;
}
.btn--login {
  
  width: 150px;
  background-color: #97CAEC;
  border: none;
  color: #ffffff; 
}
#usuario{
  border-radius: 12px;
  background: rgba(230, 230, 230, 0.308);
  border: none;
 
}
#senha {
  border-radius: 12px;
  background-color: #97CAEC; 
  border: none;
  color: #FFFF;
}



#usuario::placeholder {
  color: white;
  text-align: center;
}

#senha::placeholder {
  color: white;
  text-align: center;
}
.register-link {
  color: white;
  text-decoration: none;
  background-color: rgba(212, 212, 212, 0.5); 
  padding: 9px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px black;
}

 
.mt-3{
  padding: 20px;
  margin: 20px;
}

