body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;

  height: 100vh;
  margin: 0;
  
  background: linear-gradient(to right, #5644C5, #171047);


}
.praticaAtual {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--header-text-color);
}

h2 {
  
  color: #ffffff; 
  display: flex;
  flex-direction: start;
  padding: 25px;


}
label {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #ffffff;
}

input,
button {
  padding: 12px;
  font-size: 1em;
  margin-bottom: 15px;
}

button {
  background-color: #8A88FF;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #28038d;
}

#resultado {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#resultado:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

}

.texto {
 
    background: linear-gradient(to bottom, #8A88FF, #4947B0);
    padding: 40px;
    margin: 100px;
    text-align: center; 
    
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
    width: 800px;
    transform: translate(50%, -10%)
  
}

h1 {
  padding-left: 80px;
  padding: -100px;
  justify-content: center;
  animation: animarH1 infinite 5s;
  

}

@keyframes animarH1 {
  0% {
    transform: scale(1);

  }

  50% {
    transform: scale(1.2);

  }

  100% {
    transform: scale(1);

  }
}

.fundoLabel {

  align-items: centers;

}
