body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.calculator {
  text-align: center;
  background: linear-gradient(to bottom, #1154ac, #5891e7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px; /* Aumentei o valor máximo para 600px */
  margin: auto;
}

#display {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 20px; /* Aumentei o padding para 20px */
  font-size: 2rem;
  border: none;
  outline: none;
  background: linear-gradient(to right, #2175e4, #9198e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: end;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px; /* Aumentei o gap para 15px */
  padding: 20px; /* Aumentei o padding para 20px */
}

.buttons button {
  width: 100%;
  height: 85px; /* Aumentei a altura para 80px */
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #9d96f8;
  color: #fff;
  border-radius: 0.9rem;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #4c46a1;
}

.buttons button:active {
  background-color: #6f66ee;
}

.buttons button.equal {
  grid-column: span 2; /* Ocupa duas colunas */
  background-color: #f86363;
}
.buttons button.equal:hover {
  background-color: #b93232;
}
.buttons button.equal:active {
  background-color: #f86363;
}
