.painel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    margin: 1rem auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(7, 26, 109, 0.39); 
}

.painel img.foto {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    border-radius: 50%;
}

.caixa {
    background-color: #f0f0f0;
    width: 100%;
    max-width: 300px;
    height: 120px;
    overflow: auto;
    padding: .4rem;
    border-radius: 0 8px 8px 0;
}
