:root {
  --cor-destaque: rgb(255, 101, 101);
  --cor-fundo: rgba(0, 0, 0, 0.8);
  --cor-texto: rgba(255, 255, 255, 0.8);
  --bg-color-content: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  overflow-x: hidden;
  font-family: "EB Garamond", serif;
}

header {
  background-color: var(--cor-destaque);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  transition: transform 0.5s linear;
  transform-origin: top left;
  padding: 5rem 17rem;
  width: 100vw;
  height: fit-content;
  background-color: var(--bg-color-content);
}

.content.showNav {
  transform: rotate(-20deg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 4px solid var(--cor-destaque);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
  margin: 10px auto;
  display: block;
  transition: all 0.5s ease;
}
h1 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-size: 3rem;
}

.content h1,
p,
h2 {
  padding: 1rem 0 0 0;
}

.circleMenu {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 1;
}

.menu {
  background-color: var(--cor-destaque);
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  transition: transform 0.5s linear;
}

button {
  font-size: 26px;
  color: var(--cor-texto);
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
}

.menu button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.menu button#open {
  left: 60%;
}

button i {
  cursor: pointer;
}

.showNav.menu {
  transform: rotate(-90deg);
}

nav {
  position: fixed;
  left: 0;
  top: 70%;
  display: none;
}

nav a {
  color: var(--cor-texto);
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--cor-destaque);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
  list-style: none;
  color: var(--cor-texto);
  font-size: 1.5rem;
}
