* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

.imagens {
  display: flex;
  height: max-content;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 1rem;
}
