* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
}

#grausC {
  padding: 0 0 0 0.3rem;
}

.btn {
  padding: 0.5rem;
}

#result {
  position: absolute;
  top: 80%;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

input{
    padding: 0.3rem;;
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield; /* Para Firefox */
    appearance: none;
    border-radius: 0.5rem;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    border-radius: 0.5rem;
  }
  
