* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  padding: 1rem;
}

h1 {
  color: black;
  padding-bottom: 0.5rem;
}

:root {
  --header-color: rgba(73, 73, 220, 0.8);
  --header-text-color: rgba(255, 255, 255, 0.8);
  --container-color: rgba(255, 255, 255, 0.8);
  --content-result-color: rgba(0, 0, 0, 0.2);
}

.cabecalho {
  width: 100vw;
  height: 10vh;
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--header-color);
}

.cabecalho ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  list-style: none;
  padding: 0 0 0 2rem;
}

.cabecalho li {
  width: 1rem;
  height: 1rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: circle();

  background-color: var(--header-text-color);
}

.cabecalho .active {
  background-color: rgb(160, 160, 235);
}

.praticaAtual {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--header-text-color);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
}

.content {
  display: flex;
  flex-direction: column;

  width: 50vw;
  height: 50vh;
  
  border-radius: 1%;
  /* background: var(--content-result-color); */
}

.result {
  width: 50vw;
  height: 5rem;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1%;
  bottom: 4rem;
  /* background: var(--content-result-color); */
}

.formArea {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

input {
  padding: 0 0 0 0.3rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  height: 45vh;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Para Firefox */
  appearance: none;
  border-radius: 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

button:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}
