@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

.container {
background: url(../IMG/background1.png);
background-size: cover;
background-repeat: no-repeat;
display: flex;
width: 100%;
font-family: 'Martel', serif;

}
.nav{
flex-direction: column;
background-color: black;
border-radius: 0px 0px 100px 0px;
padding-bottom: 20%;
color: white;
justify-content: space-between;
}
.nav>img{
width: 120px;
transition: all ease-in-out 0.3s;
}
.nav>img:hover{
transition: all ease-in-out 0.3s;
width: 120px;
transform: rotate(-360deg);
background-color: red;
border-radius: 20px;
cursor:pointer;
}
.nav>ul>li>h3{
transform: rotate(-90deg);
margin-top: 200px;
text-align: left;
transition: all ease-in-out 0.3s;
}
.links{
  color: white;
  text-decoration: none;
}
.links:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

  
.nav>ul>li>h3:hover{
transform: rotate(-0deg);
color: black;
background-color: white;
border-radius: 20px;
margin-top: 200px;
padding: 15px;
text-align: center;
transition: all ease-in-out 0.3s;
cursor: pointer;
}

.container2{
background-color: rgba(61, 80, 52, 0.6);
width: 620px;
height: 700px;
border-radius: 0px 0px 20px 0px;

}
.bloco1{
display: flex;
flex-direction: column;
color: white;
padding: 30px;

}

.bloco1>.title>h3{
width: auto;
font-size: 50px;
font-weight: lighter;
line-height: 90px;
letter-spacing: 10px;
}
.uc{
font-size: 120px;
color: rgba(129, 240, 174, 1);
font-weight: bold;

}
.bloco1>.descrição{
font-size: 30px;
padding-top: 180px;
width: 50vh;
line-height: 35px;
}
.pag2{
background-image: url(../IMG/background2.png);
background-size: 100%;
} 
.title2>h1{
text-align: center;
color: rgba(61, 80, 52, 1);
padding: 15px;
font-size: 50px;
}
.title2>h1>span{
color: rgba(105, 182, 67, 1);
}
.bloco2{
display: flex;
flex-direction: row;
align-content: center;
align-items: center;
padding: 250px;
padding-top: 0px;

}
.bloco2>img{
width: 550px;
}
.bloco2>ul{
width: 1500px;
display: flex;
flex-direction: row;
margin-left: auto;
margin-right: auto;
list-style-type: square;
font-size: 24px;

}
.title3{
font-size: 40px;
font-family: 'Manrope', sans-serif;
padding-right: 30px;
text-align: left;
}
.text2{
font-size: 30px;
}
