/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #212529;
  background-image: url('../IMG/image\ 6.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
 

}
.lista{
  padding: 5px;
  margin: 15px;
}
.text{
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: rgb(226, 43, 202);
  border-radius: 10px;
  padding: 3px;
  margin: 20px;
  border: 2px solid #810931;
 
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: #fff;
}
.class--consultar {
background-color: #007bff;


}

/* Section Styles */
section {
  padding: 40px 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e4e4e4; /* Dark text color */
  text-align: center;
}

.lead {
  font-size: 1.25rem;
  color: #531a28; /* Subdued text color */
}



/* Album Styles */
.album {
  background-color: #f8f9fa;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

/* Footer Styles */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.btn {
  padding: 5px;
  color: rgb(255, 255, 255);
  background: rgb(226, 43, 202);
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid #810931;
 
 margin: 10px;
}

.dropdown {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 3rem;
  margin-right: 3rem;

}

.dropdown button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.dropdown button:hover {
  background-color: #0056b3;
}



.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.custom-active {
  background-color: #0056b3;
  color: #fff;
}

.custom-active:hover {
  background-color: #004080;
}

.theme-icon,
.theme-icon-active {
  fill: #fff;
}

.dropdown-item.active .bi.d-none {
  display: inline;
}
img  {
  border: 2px solid #810931;
  box-shadow: 0 0 5px  2px  rgb(226, 43, 128);
}
.dark {
background: #810931;
color:  blue;
}