* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}



h1 {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px red solid;

  height: fit-content;
}

.formArea {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  padding: 2rem;

  border-radius: 0.5rem;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Para Firefox */
  appearance: none;
  border-radius: 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 0.5rem;
}

label {
  padding: 2px;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="number"]:focus {
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0.8);
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

#resultado {
  background-color: rgba(255, 255, 255, 0.801);

  border-radius: 0.3rem;

  position: absolute;
  bottom: 200px;
  left: 46%;
  display: flex;
  align-items: center;
  justify-content: center;
}
