body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;


   
}
.praticaAtual {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--header-text-color);
}
.fundo1 {
  
  background: linear-gradient(to right, #5644C5, #171047);
  margin: auto;
}
.fundo5 {
  background-color: #f0f0f0;
  display: block;
}
label {
  display: block;
  margin: 10px 0;
  color: #ffffff;
}

input {
 
  padding: 8px;
  font-size: 30px;
  width: 200px;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px #b8b4a9;
  padding: 5px;
}
input:hover {
  background-color: #cecece;
  box-shadow: 0 0 0px 1px rgb(255, 124, 2)
}


button {
  padding: 10px 8px;
  width: 150px;
  height: 65px;
  font-size: 20px;
  background:#8A88FF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;

  
}

button:hover {
  background-color:#130475;
  box-shadow: 0 0 0px 1px rgb(255, 255, 255)

}
h2{
  display: flex;
  justify-content: start;
  color: #f4f4f4;
  font-size: 30px;
  padding: 30px;
}


@keyframes animarH1 {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.2);
  
  }
  100% {
    transform: scale(1);
    
  }
}

#fundo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #8A88FF, #4947B0);
  padding: 10px;
  align-items: center;
  margin: 50px;
  width: 500px;
  height: 500px;
  text-align: center; 
  box-shadow: 0 0 5px 1px rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 35%;
  
  border-radius: 30px;
}

@keyframes animarfundo {
  0% {
   
    box-shadow: 0 0 5px 0px #CDA232
  }
  25% {
   
    box-shadow: 0 0 5px 0px #CDA232;
  }
  
  50% {
   
    box-shadow: 0 0 15px 0px #CDA232;
  }
  100% {
    
    box-shadow: 0 0 20px 0px #70581a;
  }
  50% {
   
    box-shadow: 0 0 10px 0px #a17f29;
  }
  25% {
   
    box-shadow: 0 0 5px 0px #70581b;
  }
 
  0% {
   
    box-shadow: 0 0 5px 0px #70581b;
  }
 
}

#resultado {
  
  font-size: 18px;
  color: #333;
  padding: 15px;
  margin: auto;
  border: 1px solid #ffb700; 
  
}
.escondido {
  display: none; 
}
