@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Julius+Sans+One&display=swap');
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Julius Sans One', sans-serif;
scroll-behavior: smooth;

}
.pag1{
display: flex;
flex-direction: column;
text-align: center;
padding-bottom: 40vh;
padding-top: 40vh;
background-image: url(img/background1.png);
background-repeat: no-repeat;
background-size: cover;
color: white;
min-height: 100vh;

}
.pag1>h2{
font-size: 50px;
font-weight: lighter;
}
.pag1>h1{
font-size: 96px;
font-weight: lighter;
background-color: rgba(0, 0, 0, 0.7);
}
.pag1>a{
font-size: 3vh;
margin: 10px;
background-color: rgba(255, 160, 83, 0.5);
justify-content: center;
width: fit-content;
margin: auto;
padding-left: 30px;
padding-right: 30px;
text-decoration: none;
color: white;
}
.pag1>hr{
margin-left: 80vh;
margin-right: 80vh;
margin-bottom: 15px;
}

.pag2{
background-image: url(img/background2.png);
background-size: cover;
}
.pag2>.titulo{
display: flex;
flex-direction: row;
justify-content: center;
margin: 3vh;
font-size: 20px;
}
.titulo>hr{
width: 20vh;
height: 0.3vh;
margin-top: 1.3vh;
}
.titulo>h2{
font-weight: lighter;
margin-left: 2vh;
margin-right: 2vh;
}
.pag2>.container{
display: flex;
flex-direction: row;
justify-content: center;
margin: 20vh;
}
.pag2>.container>img{
height: 20vh;
border-radius: 100px;
margin-left: 6vh;
box-shadow: 0px 5px 15px rgb(104, 104, 104);
}

.pag2>.texto{
font-size: 30px;
text-align: center;
padding: 20vh;
padding-top: 1vh;
}

.pag3>.titulo{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 6vh;
margin-bottom: 15vh;
font-size: 20px;   
}
.pag3>.container{
padding: 20px;
display: flex;
justify-content: space-between;
background-image: url(img/imagem4.png);
background-repeat: no-repeat;
background-position: right top;
background-size:cover;
padding-bottom: 400px;
padding-top: 200px;
}
.container>.png1{
width: 35%;
height: 35%;
box-shadow: 12px 15px 9px 0px rgba(0, 0, 0, 0.32);
border-radius: 40px 0px 40px 0px;
}

aside{
text-align: right;
}
aside>h1{
font-size: 60px;
margin: 15px;
}
aside>p{
font-size: 30px;
margin-left: 10%;
}

.pag4{
background-image: url(img/background3.png);
min-height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}
.pag4>.titulo{
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 5vh;
font-size: 20px;  
color: rgb(0, 0, 0);
padding: 10vh;

}
.pag4>.titulo>h2{
background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
padding-left: 10px;
padding-right: 10px;
    }
.pag4>.titulo>.hr1{
    background-color: rgb(0, 0, 0);
}

.pag4>.titulo>.hr2{
    background-color: rgb(255, 255, 255);
}

.pag4>.final{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.final>h1{
    color: white;
    font-size: 60px;
    font-weight: lighter;
}
.final>h2{
    color: white;
    font-size: 30px;
}
.final>img{
width: 50vh;
border-radius: 100%;
border-color: white;
margin: 20px;
align-items: center;
border: 1px solid #ffffff;
padding: 20px;


}
.final>p{
    font-size: 30px;
    color: white;
    background-color: rgba(255, 160, 83, 0.5);
    width: 250px;
    text-align: center;
    margin: 20px;
}
