body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  display: block;
}

  .fundo1 {
   
    background: linear-gradient(to right, #5644C5, #171047);
  }
 
  h2 {
    display: flex;
    justify-content: start;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 30px;
  }
  .praticaAtual {
    font-size: 2rem;
    padding-right: 1rem;
    color: var(--header-text-color);
  }  
  form {
    background: linear-gradient(to bottom, #8A88FF, #4947B0);
    width: 600px;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 8px 1px white;
}

label {
  
  padding: 15px;
    display: flex;
    justify-content: flex-start;
  
}

input, select {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
   
}
.fundo-check{

  display: flex;
  justify-content: left;
  padding: 15px;
  margin: 25px;
}


button {
    padding: 10px;
    background-color:  #8A88FF;
    margin: 15px;
    border-radius: 7px;
    
}
.button-baixo{

  display: flex;
  text-align: center;
   padding: 22px;
   

}

button.clear {
  background-color:  #8A88FF;
}
  